<!DOCTYPE html>
<html lang="en">
<head>
    <title>drying rack</title>

    <link rel="stylesheet" href="static/main.css">

</head>


    {% macro Collum(size ='25%',contents ='translefts' , class = 'collum') %}
    <div style="width:{{size}}; background-color:red;  height:70%; "class={{class}}> {{ contents }} </div>
    {%- endmacro -%}

    {% macro StatBox() %}
    <div style="width : 80%; height 20%; background-color : green;"> gay </div>
    {%- endmacro -%}

<body>
  <div style="width:100%; height:100%" >

      {{ Collum(class = 'collum' , contents = StatBox() ) }}
      {{ Collum(class = 'collum') }}
      {{ Collum(class = 'collum') }}
      {{ Collum(class = 'collum') }}

</div>
</body>
</html>
