<!DOCTYPE html>
<html lang="en">
<head>
    <title>drying rack</title>
    {# react stuff #}
 
   <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <!-- Load our React component. -->
 
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/CSS/main.css" src = "{{- url_for('static', filename = 'CSS/main.css') -}}">
    <script src="{{- url_for('static', filename = 'JS/JQuery.js') -}}" charset="utf-8"></script>
    <script src="{{- url_for('static', filename = 'JS/index.js') -}}" charset="utf-8"></script>
</head>


<!-- flex box may solve weird css issues look into it -->

    {%- macro StatBox(id) -%}
    <div style="width : 80%; height: 20%; background-color : green;" id="" class="StatBox"> <textarea class="InnerStatBox" id="{{ id }}" contentEditable="true"> 12 </textarea> </div>
    {%- endmacro -%}


<body>
  <div id="root" >
    {# <div style="width:12.5%; background-color:red;  height:100%; "class= "Column" contentEditable="true">{{StatBox("1")}} {{StatBox()}} {{StatBox()}} {{StatBox()}} {{StatBox()}}</div>
    <div style="width:12.5%; background-color:red;  height:100%; "class= "Column" contentEditable="true">{{StatBox("2")}} {{StatBox()}} {{StatBox()}} {{StatBox()}} {{StatBox()}}</div>
    <div style="width:12.5%; background-color:red;  height:100%; "class= "Column" contentEditable="true">   </div> #}

  </div>

</div>
</body>
</html>
