<!DOCTYPE html>
<html lang="en">
<head>
    <title>drying rack</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/CSS/main.css" src = "{{- url_for('static', filename = 'CSS/main.css') -}}">
    <script src="{{- url_for('static', filename = 'JS/JQuery.js') -}}" charset="utf-8"></script>
    <script src="{{- url_for('static', filename = 'JS/index.js') -}}" charset="utf-8"></script>
</head>


<!-- flex box may solve weird css issues look into it -->
<!-- jwuery to get text from boxes https://stackoverflow.com/questions/5831413/get-textarea-text-with-javascript-or-jquery -->
<!-- js to put it in jsob https://www.w3schools.com/js/js_json_intro.asp -->
<!-- jquery to send it to api  https://api.jquery.com/Jquery.ajax/-->

    {%- macro StatBox(id) -%}
    <div style="width : 80%; height: 20%; background-color : green;" id="" class="StatBox"> <textarea id="{{ id }}" contentEditable="true"> 12 </textarea> </div>
    {%- endmacro -%}

    {%- macro SecondaryStatBox() -%}
      <div style="width : 80%; height: 2.5%; background-color : yellow; " contentEditable="true" class="SecondaryStatBox"> bi </div>
    {%- endmacro -%}

<body>
  <div class="box" id="box" >
    <div style="width:12.5%; background-color:red;  height:100%; "class= "Column" contentEditable="true">{{StatBox("1")}} {{StatBox()}} {{StatBox()}} {{StatBox()}} {{StatBox()}}</div>
    <div style="width:12.5%; background-color:red;  height:100%; "class= "Column" contentEditable="true">{{StatBox("2")}} {{StatBox()}} {{StatBox()}} {{StatBox()}} {{StatBox()}}</div>
    <div style="width:12.5%; background-color:red;  height:100%; "class= "Column" contentEditable="true">  {{StatBox()}} {{StatBox()}} {{StatBox()}} {{StatBox()}} {{StatBox()}}</div>
<!--  <div style="width:12.5%; background-color:red;  height:100%; "class= "Column"> {% for i in range(18) %} {{SecondaryStatBox()}}  {% endfor %} --->

  </div>

</div>
<input type="text" id="test">
</body>
</html>
